:root {
    /* variable for the green accent color changing this will change the accents of the website */
    --sitegreen: #4ba173;
    --backgroundColor: #222729;
    --textColor: #ffffff;
    --navHeight: 100px;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px);}
  to { opacity: 1; transform: translateY(0);}
}
#root{ 
  animation: fadeIn 0.5s ease forwards;
}
html{ 
  scroll-behavior: smooth;
}
[id]:not(#team){ 
  scroll-margin-top: var(--navHeight);
}

/* CSS reset to reset broswer styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5{
  color: var(--textColor);
}